*{
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: hsl(225, 100%, 94%);
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    min-height:100vh;
    display: grid;
    place-items: center;
}


.background-image{
    position: absolute;
    top: 0;
    left: 0;
    
}

.main-box{
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    min-width: 30%;
    max-width: 50%;
    height: auto;
    text-align: center;


}

.hero-image{
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main-box h2{
    color: #373737;
    padding: 25px;
    font-weight: 900;
    font-size: 1.8em;
}

.description{
    color: grey;
    padding: 0 60px;
    line-height: 1.5em;
}

.subscription a{
    margin-top: 15px;
}

.sub-left{
    display: flex;
    line-height: 1.5em;
}

.sub-left p{
    color: #373737;
    font-weight: 700;
    margin-left: 20px;
}

span{
    color: grey;
    font-weight: 500;
}

button{
    background-color: hsl(245, 75%, 52%);
    color: white;
    border: none;
    border-radius: 10px;

    height: 50px;
    width: 70%;
    font-weight: 700;
    box-shadow: 0px 25px 10px hsl(245, 75%, 95%);
}

.cancel{
    padding: 35px;
    font-weight: 700;
    color: grey;
}

.subscription a{
    font-size: 0.9em;
    font-weight: 700;
}

button:hover{
    background-color: #9370DB;
    cursor: pointer;
}

.cancel:hover{
    cursor: pointer;
}

.subscription a:hover{
    text-decoration: none;
}

.subscription{
    background-color: #f9f9f9;
    border-radius: 10px;
    margin: 35px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 675px){
    .subscription img{
        display: none;
    }
    .subscription{
        display: block;
    }
    .subscription p{
        align-items: center;
        width: 100%;
    }
    body{
        background-image: url(./images/pattern-background-mobile.svg);
    }
}